@media  (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
#navbar {
    position: fixed;
    

}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  
  


